@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.font-custom {
    font-family: 'Abril Fatface', cursive;
}

body {
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #0275d8, #b92b27);
    background: linear-gradient(to right, #0275d8, #b92b27);
}

::selection {
    color: white;
    background: #0275d8;
}

@media (max-width: 420px) {
    .title-app {
        font-size: 2.5rem;
    }
}
